h2, p {
    color: white;
    text-align: center;
}

table {
    text-align: center;
}

.btn {
    transition: 1s;
    font-size: 12px;
}

.btn-secondary:hover {
    color: black;
    background-color: white;
}