@{
    ViewBag.Title = "ConfirmPurchase";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="container" style="text-align:center; color:white; margin-top:250px">
    <h1>Congratulation!</h1>
    <h3>Don't forget to follow our instergram <a href="#"><i class="fab fa-instagram" style="font-size:1.5em; color:deeppink"></i></a> !</h3>
</div>