@model IEnumerable<Band_Web.Models.TicketDetailModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/CSS/tour.css" />
    <link rel="stylesheet" href="~/Content/CSS/sweetalert2.css" />
}

@section Scripts{
    <script src="~/Content/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Content/Scripts/tour.js"></script>
}

<div class="container">
    <h2>GET ON THE LIST!</h2>
    <p>Get updates from My Chemical Romance</p>
    <br />
    <table class="table table-hover table-dark">
        <tr>
            <th>DATE</th>
            <th>VENUE</th>
            <th>LOCATION</th>
            <th>INFO</th>
        </tr>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    string Date = item.TicketDate.ToString("yyyy-MM-dd");
                    <tr>
                        <td>@Date</td>
                        <td>@Html.DisplayFor(modelItem => item.TicketLocation)</td>
                        <td>@Html.DisplayFor(modelItem => item.TicketVenue)</td>
                        <td class="button">
                            @{
                                if (item.TicketStatus == false)
                                {
                                    <a class="btn btn-secondary disabled" disabled>SOLD OUT</a>
                                }
                                else
                                {
                                    @Html.ActionLink("TICKETS", "", "", new { Class = "btn btn-secondary" })
                                }
                            }
                        </td>
                    </tr>
                }
            }

        }
    </table>
</div>