@model Band_Web.ViewModels.TicketPurchaseViewModel

@{
    ViewBag.Title = "TicketPurchase";
    Layout = "~/Views/Layout/_Layout.cshtml";
    if (TempData["Error"] != null)
    {
        string alert = Json.Encode(TempData["Error"]);
        <script>
            alert(alert);
        </script>
    }
}

@section Styles{
    <link href="~/Content/CSS/TicketPurchase.css" rel="stylesheet" />
}
<div class="container">
    <h2>TicketPurchase</h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>

    <h4>TicketPurchaseModel</h4>
    <hr />
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="form-tab">
            <h3>Please Check the tickets Info</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary">Date:@Model.tticketDetail.TicketDate.ToString("yyyy-MM-dd")</li>
                <li class="list-group-item list-group-item-secondary">Location:@Model.tticketDetail.TicketLocation</li>
                <li class="list-group-item list-group-item-secondary">Venue:@Model.tticketDetail.TicketVenue</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form>
                <input class="form-control" type="text" required placeholder="Email" value="@Model.tUser.UserEmail" disabled />
                <input class="form-control" type="text" required placeholder="Name" value="@Model.tUser.UserAccount" />
                <input class="form-control" type="text" required placeholder="" />
                <input class="form-control" type="text" required placeholder="" />
            </form>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "List") |
        @Html.ActionLink("Next", "Edit", new { /* id = Model.PrimaryKey */ })
    </p>
</div>