@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/CSS/error.css" rel="stylesheet" />
</head>
<body>
    <div>
    </div>
</body>
</html>