@model IEnumerable<Band_Web.Models.PostModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Layout/_Layout.cshtml";
    if (TempData["Error"] != null)
    {
        string error = Json.Encode(TempData["Error"]);
        <script>alert(error)</script>
    }
    if (TempData["SaveError"] != null)
    {
        string error = Json.Encode(TempData["SaveError"]);
        <script>alert(error)</script>
    }
    if (TempData["ImageError"] != null)
    {
        string error = Json.Encode(TempData["ImageError"]);
        <script>alert(error)</script>
    }
}

@section Styles{
    <link href="~/Content/CSS/post.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Content/Scripts/post.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PostModal">Create</button>

<section>
    <div class="container">
        <div class="content">
            <div class="content-img">
                <img src="https://images.unsplash.com/photo-1504364269860-8be73aabdff2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1068&q=80" alt="Body Building">
            </div>
            <div class="content-text">
                <h2 class="content-title">The Strength within</h2>
                <h4 class="content-subtitle">Unleash your inner beast</h4>
                <p class="content-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse aut deleniti magni. Quaerat unde non beatae hic veniam necessitatibus reiciendis reprehenderit tempore alias maxime delectus, ullam aut adipisci, aliquid velit dolores molestiae, eius nihil nam et ut fugiat iste perspiciatis quis? Veniam accusantium ut recusandae eaque quas laudantium nostrum?</p>
                <a href="#" class="btn">View More</a>
                <a href="#" class="like" id="like"><i class="fas fa-thumbs-up"></i><span class="tooltiptext">loading...</span>12</a>
            </div>
        </div>
    </div>
</section>

@foreach (var item in Model)
{

}

<div class="modal fade" id="PostModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div ></div>
                <form enctype="multipart/form-data" action="/posts/create">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="recipient-name" name="PostTitle">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Content:</label>
                        <textarea id="editor" class="form-control" name="PostContent"></textarea>
                    </div>
                    <div class="form-group" style="width:40%">
                        <label for="message-text" class="col-form-label">Tags:</label>
                        <select class="form-control" id="tag-text" name="PostTag">
                            <option disabled>Select</option>
                        </select>
                    </div>
                    <div class="custom-file" style="width:40%">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">POST</button>
            </div>
        </div>
    </div>
</div>