@{
    string userAccount = "";
    if (Session[Band_Web.Models.SessionDictionary.UserAccount] != null)
    {
        userAccount = Session[Band_Web.Models.SessionDictionary.UserAccount].ToString();
        <li class="nav-item">
            <div class="background-one link-container">
                <a class="link-one" href="#" id="signUp">@userAccount</a>
            </div>
        </li>
    }
    else
    {
        userAccount = "SIGN UP";
        <li class="nav-item">
            <div class="background-one link-container">
                <a class="link-one" href="/signUpPage/SignUp">@userAccount</a>
            </div>
        </li>
    }
}
