@model Band_Web.Models.LoginModel

@{
    ViewBag.Title = "loginPage";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.css" />
    <link href="~/Content/CSS/sweetalert2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/CSS/login.css" />

    
</head>
<body>
    <div id="login-button">
        <img src="~/Content/Images/sign-in-alt-solid.svg">
    </div>
    <div id="container">
        <h1>Log In</h1>
        <span class="close-btn"> &#10006 </span>

        <form>
            <input type="text" name="UserAccount" placeholder="Account">
            <input type="password" name="UserPassword" placeholder="Password">
            <div class="btn-div">
                <button class="btn btn-lg btn-success btn-block" type="submit">Log in</button>
            </div>
            <div id="remember-container">
                <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
                <span id="remember">Remember me</span>
                <span id="forgotten">Forgotten password</span>
            </div>
        </form>
    </div>

    <div id="forgotten-container">
        <h1>Forgotten</h1>
        <span class="close-btn"> &#10006 </span>
        <form>
            <input type="email" name="email" placeholder="E-mail" id="email">
            <div class="btn-div">
                <button type="button" class="btn btn-lg btn-info btn-block" id="send-email">Get new password</button>
            </div>
        </form>
    </div>
    <script src="~/Content/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Content/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Content/Scripts/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
</body>
</html>