@model Band_Web.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Layout/_Layout.cshtml";

    if (TempData["ErrorMsg"] != null)
    {
        <script>
            var message = @Html.Raw(Json.Encode(TempData["ErrorMsg"]))
            alert(message);
        </script>
    }
    if (TempData["Exception"] != null)
    {
        <script>
            var message = @Html.Raw(Json.Encode(TempData["Exception"]))
            alert(message);
        </script>
    }
}
@section Styles{
    <link rel="stylesheet" href="~/Content/CSS/SignUp.css" />
}

@section Scripts{
    <script src="~/Content/Scripts/signUp.js"></script>
}

<div class="container" style="width:30%">
    <form class="form-signin" enctype="multipart/form-data" method="post">
        <div class="text-center mb-4">
            <img src="~/Content/Images/logo2.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">SIGN UP</h1>
        </div>

        <div class="form-group">
            <input type="text" id="inputAccount" class="form-control" name="UserAccount" placeholder="Account" required="" autofocus="" maxlength="30">
        </div>
        <div class="form-group">
            <input type="password" id="inputPassword" class="form-control" name="UserPassword" placeholder="Password" required="">
        </div>
        <div class="form-group">
            <input type="email" id="inputEmail" class="form-control" name="UserEmail" placeholder="Email address" required="" maxlength="50">
        </div>
        <div class="form-group">
            <select type="text" id="inputSexual" class="form-control" name="UserSexual" required="">
                <option selected disabled hidden>Gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="form-group">
            <input type="date" id="inputBirthday" class="form-control" name="UserBirthday" max="@DateTime.Now.ToString("yyyy-MM-dd")" required="">
        </div>
        <div class="form-group">
            <select type="text" id="inputCountry" class="form-control" name="UserCountry" required="">
                <option hidden disabled selected>Choose Your Country</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" id="inputAddress" class="form-control" name="UserAddress" required="" placeholder="Address" maxlength="50">
        </div>
        <div class="form-group">
            <input type="tel" id="inputPhone" class="form-control" name="UserPhone" required="" placeholder="Phone" maxlength="20">
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
    </form>
</div>