@model Band_Web.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Layout/_Layout.cshtml";
}


@section Styles{
    <link rel="stylesheet" href="~/Content/CSS/signUp.css" />
    <link href="~/Content/CSS/sweetalert2.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Content/Scripts/signUp.js"></script>
    <script src="~/Content/Scripts/sweetalert2.all.min.js"></script>
    @if(TempData["result"] != null)
    {
    <script defer>
        var value = @Json.Encode(TempData["result"]);
        console.log(value);
        if (value == 1) {
            Swal.fire({
            position: 'center',
                type: 'success',
                title: 'Success! Thank you!',
                showConfirmButton: false,
                timer: 1500
            });
        }
        else if (value==0) {
            Swal.fire({
                type: 'error',
                title: 'Oops...',
                text: 'Account has exist!',
                footer: 'Please try another account.'
            });
        }
    </script>
    }
}

<div class="container" style="width:30%">
    <div class="text-center mb-4">
        <img src="~/Content/Images/logo2.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">SIGN UP</h1>
    </div>
    <form class="form-signin" method="post" enctype="multipart/form-data">
        <table class="table-borderless">
            <tr>
                <td>
                    <div class="form-group">
                        <input type="text" id="inputAccount" class="form-control" name="UserAccount" placeholder="Account" required="" autofocus="" maxlength="30">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="password" id="inputPassword" class="form-control" name="UserPassword" placeholder="Password" required="">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="email" id="inputEmail" class="form-control" name="UserEmail" placeholder="Email address" required="" maxlength="50">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select type="text" id="inputSexual" class="form-control" name="UserSexual" required="">
                            <option selected disabled hidden>Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <input type="date" id="inputBirthday" class="form-control" name="UserBirthday" max="@DateTime.Now.ToString("yyyy-MM-dd")" required="">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select type="text" id="inputCountry" class="form-control" name="UserCountry" required="">
                            <option hidden disabled selected>Choose Your Country</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" id="inputAddress" class="form-control" name="UserAddress" required="" placeholder="Address" maxlength="50">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="tel" id="inputPhone" class="form-control" name="UserPhone" required="" placeholder="Phone" maxlength="20">
                    </div>
                </td>
            </tr>
        </table>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
    </form>
</div>